----- mac
**/.DS_Store


---------------------------------------java.ignore
*.class

-------------------------------------------idea.ignore

out/*
!out/notes/

.idea/uiDesigner.xml
.idea/workspace.xml
.idea/misc.xml
.idea/caches
.idea/libraries
**/SecConfig.java
