/*general*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px
}

p {
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    list-style-type: none;
    margin: 0 0 0 2em;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    margin: 3em;
    position: relative;
}

main {
    display: flex;
    clear: both;
}

footer {
    width: 100%;
    height: 3em;
    font-size: 1.2em;
    background: aliceblue;
    text-align: center;
    padding: 1em 0;
}

/*header*/

#top_description h1 {
    font-size: 3em;
}

#top_description nav {
    float: bottom;
}

#top_description nav ul li {
    float: left;
    font-size: 2em;
    margin-left: 2em;
}

#top_description nav ul li:last-child {
    margin-right: 2em;
}

#top_content h1 {
    float: bottom;
}

#top_bg {
    float: right;
}

#top_content, #top_avatar, #top_description {
    float: left;
}

/*main*/

#main_left {
    flex: 1;
    margin-left: 2em;
    border: 2em dimgray;
}

#main_album {
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2), 0 0.8em 2em 0 rgba(0, 0, 0, 0.19);
}

#main_data {
    margin-top: 2em;
}

/*主列表项*/

.section1 {
    background: #2196f3;
    color: #212121;
    padding: 0.5em;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2), 0 0.8em 2em 0 rgba(0, 0, 0, 0.19);
}

.section2 {
    background: white;
    color: #757575;
    padding: 0.3em;
    margin: 0 0 1em 0;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2), 0 0.8em 2em 0 rgba(0, 0, 0, 0.19);
}

.section1 p {
    font-size: 3em;
}

.section2 p:first-child {
    font-size: 2em;
}

.section2 time {
    font-size: 1.5em;
}

.section2 p:last-child {
    font-size: 1.5em;
}

#article_list {
    flex: 3;
    border-radius: 2em;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2), 0 0.8em 2em 0 rgba(0, 0, 0, 0.19);
}

#article_list > .section2 {
    margin: 1em 0;
    padding: 0.5em 1em;
    background: white;
}

#article_list > .section2 p:first-child {
    font-size: 2.5em;
    padding-bottom: 0.5em;
}

#article_list > .section2 time {
    width: 100%;
}

#article_list > .section2 p:last-child {
    float: left;
    margin-right: 0.5em;
}

#essay_list {
    flex: 2;
    margin: 2em;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2), 0 0.8em 2em 0 rgba(0, 0, 0, 0.19);
}

#essay_list > .section1 {
    clear: both;
}

#essay_list > .section2 {
    float: left;
    margin: 0.5em;
}

#essay_list > .section2 p:first-child {
    float: left;
    padding: 0 0.5em;
}

#essay_list > .section2 time {
    padding: 0.5em;
    text-align: center;
    float: right;
    background: #DDBEFB;
}

#essay_list > .section2 p:last-child {
    float: bottom;
}

/*other*/
/* 实现footer一直保留在底部的方法，5em取自footer的总高度 */
#exclude_footer {
    min-height: calc(100% - 5em);
}


