/*
维护了一次，基本改版。
感觉还是每一个标签做一个单独的样式吧，不要混合使用了。
太乱了
*/
@font-face {
    font-family: 'DinPro';
    src: url("/fonts/DINPro-Black.otf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #F5F6FB;
    font-size: 0.1vw; /*认为是4px*/
}

header {
    background: white;
    height: 100px;
}

#top_content {
    display: flex;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    font-size: 5em;
}

#top_avatar {
    height: 72px;
    width: 72px;
    float: left;
}

#top_name {
    margin-left: 1em;
    font-size: 2em;
    float: left;
}

#top_nav {
    float: left;
    height: 100px;
}

#top_nav > ul {
    float: left;
    height: 100px;
    list-style-type: none;
}

#top_nav li {
    float: left;
    height: 100px;
    line-height: 100px; /*配合height实现高度居中*/
    margin: 0 0 0 4em;
    padding: 0 1em 0 1em;
    font-size: 2em;

    border-bottom: 4px #444DFF;
}

main {
    margin-left: 15%;
    margin-right: 15%;
}

#title {
    margin-top: 10%;
    position: relative;
    font-family: 'DinPro';
}

#title_bg {
    position: absolute;
    bottom: 0;
    font-size: 30em;
    color: #e6e7ee;
}

#title_fg {
    position: absolute;
    bottom: 0;
    font-size: 20em;
    color: #333333;
    z-index: 1;
}

#main_data {
    margin-top: 10%;
    display: flex;
}

#main_data :nth-child(odd) {
    float: left;
    clear: both;
}

#main_data :nth-child(even) {
    float: right;
    margin-left: 2%;
    clear: both;
}

section {
    width: 49%;
    background: white;
    max-height: 247px;
    padding: 1%;
}

section div {
    display: flex;
    align-items: center;
}

.section_img {
    float: left;
    width: 48px;
    height: 48px;
}

.section_title {
    float: left;
    color: #111111;
    font-size: 8em;
    clear: both;
}

section ul {

}

.article_title {

    color: #111111;
    font-size: 5em;
}

.article_time {

    color: #999999;
    font-size: 4.5em;
}




