/*
维护了一次，基本改版。
感觉还是每一个标签做一个单独的样式吧，不要混合使用了。
太乱了
*/
@font-face {
    font-family: 'DinPro';
    src: url("/fonts/DINPro-Black.otf");
}

#title {
    font-family: 'DinPro';
    position: relative;
    height: 130px;
    margin-top: 120px;
}

#title_bg {
    position: absolute;
    bottom: 0;
    font-size: 130px;
    color: #e6e7ee;
}

#title_fg {
    position: absolute;
    bottom: 0;
    font-size: 80px;
    color: #333333;
    z-index: 1;
}

#main_data {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}

section {
    margin-top: 20px;
    width: 534px;
    background: white;
    max-height: 247px;
    padding: 28px 28px 32px 28px;
}

#main_data :last-child {
    max-height: none;
}

section > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.section_img {
    width: 48px;
    height: 48px;
}

.section_title {
    margin-left: 12px;
    color: #111111;
    font-size: 32px;
}

section ul {
    margin-top: 18px;
}

section ul li {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.article_title {
    color: #999999;
    text-align: center;
}

a .article_title {
    color: #111111;
    text-align: center;
}

.article_time {
    font-size: 18px;
    color: #999999;
}

#img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 28px;
}

.img_img {
    width: 260px;
    height: auto;
}




