/*原创*/
.origin {
    font-size: 12px;
    padding-right: 4px;
    color: #444DFF;
}

/*转载*/
.index {
    font-size: 12px;
    padding-right: 4px;
    color: #ff3240
}

/*翻译*/
.trans {
    font-size: 12px;
    padding-right: 4px;
    color: #69b3ae;
}