<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--访问统计-->
    <servlet-mapping>
        <servlet-name>AccessServlet</servlet-name>
        <url-pattern>/Access</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccessServlet</servlet-name>
        <servlet-class>main.notes.servlet.database.AccessServlet</servlet-class>
    </servlet>

    <!--词库数据库-->
    <servlet-mapping>
        <servlet-name>WordListServlet</servlet-name>
        <url-pattern>/WordList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WordListServlet</servlet-name>
        <servlet-class>main.notes.servlet.database.word.WordListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddWordServlet</servlet-name>
        <url-pattern>/AddWord</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddWordServlet</servlet-name>
        <servlet-class>main.notes.servlet.database.word.AddWordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReplaceWordServlet</servlet-name>
        <url-pattern>/ReplaceWord</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReplaceWordServlet</servlet-name>
        <servlet-class>main.notes.servlet.database.word.ReplaceWordServlet</servlet-class>
    </servlet>

    <!--所有文件详情-->
    <servlet-mapping>
        <servlet-name>DocDetailServlet</servlet-name>
        <url-pattern>/MyDocs/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocDetailServlet</servlet-name>
        <servlet-class>main.notes.servlet.file.DocDetailServlet</servlet-class>
    </servlet>

    <!--食锦记 列表-->
    <servlet-mapping>
        <servlet-name>FoodListServlet</servlet-name>
        <url-pattern>/FoodList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FoodListServlet</servlet-name>
        <servlet-class>main.notes.servlet.list.index.FoodListServlet</servlet-class>
    </servlet>

    <!--心晴 列表-->
    <servlet-mapping>
        <servlet-name>FeelListServlet</servlet-name>
        <url-pattern>/FeelList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FeelListServlet</servlet-name>
        <servlet-class>main.notes.servlet.list.index.FeelListServlet</servlet-class>
    </servlet>

    <!--轶事 列表-->
    <servlet-mapping>
        <servlet-name>StoryListServlet</servlet-name>
        <url-pattern>/StoryList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StoryListServlet</servlet-name>
        <servlet-class>main.notes.servlet.list.index.StoryListServlet</servlet-class>
    </servlet>

    <!--cs书籍 列表-->
    <servlet-mapping>
        <servlet-name>CsBookListServlet</servlet-name>
        <url-pattern>/CsBookList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CsBookListServlet</servlet-name>
        <servlet-class>main.notes.servlet.list.index.CsBookListServlet</servlet-class>
    </servlet>

    <!--cs语言 列表-->
    <servlet-mapping>
        <servlet-name>CsLanguageListServlet</servlet-name>
        <url-pattern>/CsLanguageList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CsLanguageListServlet</servlet-name>
        <servlet-class>main.notes.servlet.list.index.CsLanguageListServlet</servlet-class>
    </servlet>

    <!--博客 列表-->
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>main.notes.servlet.list.category.BlogListServlet</servlet-class>
    </servlet>

    <!--小说 列表-->
    <servlet-mapping>
        <servlet-name>NovelListServlet</servlet-name>
        <url-pattern>/NovelList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NovelListServlet</servlet-name>
        <servlet-class>main.notes.servlet.list.category.NovelListServlet</servlet-class>
    </servlet>
</web-app>